<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="calCulateStudentData" class="cn.cugb.Service.CalCulateStudentData"></bean>
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="provider"  />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="cn.cugb.service.ICalCulateStudentService" ref="calCulateStudentData" />

    <!-- 服务应用方调用的超时时间。默认不配置，则以服务提供方的超时时间为准。check为false表示延迟加载dubbo依赖的服务-->
    <dubbo:consumer retries="0" timeout="5000" check="false"/>
    <!-- dubbo直连方式，只用于开发或测试阶段 -->
    <dubbo:reference id="dubboConsumerTest"  interface="cn.cugb.service.ICalCulateStudentService" url="dubbo://127.0.0.1:20880" />


</beans>